<body class="bg-[#0f0e0d]"> <!-- Grid Container -->
  <div id="about" class="shadow-lg mx-auto text-white grid grid-cols-1 sm:grid-cols-2 gap-1 max-w-[50rem] justify-center items-center p-20">   
    <div class="flex flex-col-reverse w-full items-end pr-10">
    <!-- Photo Section -->
    <img src="assets/kj-img.jpg" alt="Photo" class=" w-64 rounded-[50%]"></div>
    <!-- Text Section -->
    <div class="flex flex-col pt-5">
      <h2 class="text-2xl font-bold mb-2 pl-5 font-[roboto]">ABOUT KENZIE JAMES</h2>
      <p class=" pl-5 pt-5 ">
        Kenzie James is a she/her chaotic gremlin who grew up on a steady diet of fantasy and sci-fi. They
        fell in love with monsters early thanks to Disney's Gargoyles and loves incorporating an adventurous vibe to all of their writing.
        <p class=" pl-5 pt-5 ">
        They currently live in Texas with their two cats Wesley and Xander along with a chaotic MacBook named Astarion.</p>
      </p>
    </div>

  </div>
</body> 