  <!-- Grid Container -->
  <div class="shadow-lg mx-auto text-white grid grid-cols-1 sm:grid-cols-2 gap-1 max-w-4xl justify-center p-20">   
    <div class="flex flex-col-reverse w-full h-64 items-end pr-10">
    <!-- Photo Section -->
    <img src="assets/kj-img.jpg" alt="Photo" class=" h-64 w-64 rounded-[50%]"></div>
    <!-- Text Section -->
    <div class="flex flex-col pt-5">
      <h2 class="text-2xl font-bold mb-2 pl-5">About Kenzie James</h2>
      <p class=" pl-5 pt-5">
        Here is stuff meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow 
      </p>
    </div>

  </div>
