---
import Book from './Book.astro'
---

<div id="books" class="text-center bg-black h-[60rem] text-white">
    <header class="pt-250 mb-20">
      <h1 class="text-3xl pt-20 font-bold">Books by Kenzie James</h1>
    </header>


  </div>
