---
interface Props {
	title: string;
	cw: string;
	desc: string;
    image: string;
}

const { desc, title, cw , image } = Astro.props;

---

    <!-- Card Section -->
    <div class="">
      <div class="">

      </div>
    </div>
  
  