---
import Book from './Book.astro'
---
<div id="books" class="text-center pb-20 text-white"> <!-- Removed h-screen and pb-100 -->
  <header class="pt-10 mb-10">
    <h1 class="text-3xl mt-10 font-bold">• BOOKS BY KENZIE JAMES •</h1>
  </header>

  <div class="flex justify-center">
    <ul role="list" class="link-card-grid p-6 rounded-lg">
      <li class="p-2"><Book
          image="/assets/h-discreet.jpg"
          title="HARKER"
          link=""
          release=""
          buy="PRE-ORDER"
          cw="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      />
      </li>
      <!-- <li class="p-2"><Book
        image="/public/assets/h-discreet.jpg"
        title="Harker"
        link=""
        cw="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
        desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
    />
    </li> -->
    </ul>
  </div>

  <header class="pt-10 mb-10">
    <h1 class="text-3xl font-bold">• WRITING AS LYDIA DANES •</h1>
  </header>

  <div class="flex justify-center">
    <ul role="list" class="link-card-grid p-6 rounded-lg">
      <li class="p-2"><Book
          image="/assets/h-discreet.jpg"
          title="THE TEDDY BEAR'S PRIZE"
          link=""
          buy="BUY"
          release=""
          cw="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      />
      </li>
      <!-- <li class="p-2"><Book
        image="/public/assets/h-discreet.jpg"
        title="Harker"
        link=""
        cw="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
        desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
    />
    </li> -->
    </ul>
  </div>
</div>