
<nav class="text-white h-[22rem] bg-[#0f0e0d]">
    <header class="text-center">
        <!-- Title -->
        <h1 class="text-4xl font-bold pt-[250px] text-white space-x-4 mb-5 font-kanit">Kenzie James</h1>
        <!-- Navigation Links -->
        <nav>
          <ul class="flex justify-center space-x-4 text-white">
            <li><a href="#books" class="hover:text-cyan-600">Books</a></li>
            <span></span>
            <li><a href="#" class="hover:text-cyan-600">About</a></li>
            <span></span>
            <li><a href="#" class="hover:text-cyan-600">Contact</a></li>
          </ul>
        </nav>
      </header>
</nav>