
<nav class="text-white h-[16rem] bg-black pt-20">
    <header class="flex justify-center mt-[100]">
        <!-- Title -->
        <img src="/assets/kjlogo.png">
        <!-- Navigation Links -->
        </header>
        <nav>
          <ul class="flex justify-center space-x-4 text-white pb-5">
            <li><a href="/" class="hover:text-[#40AD8E]">HOME</a></li>
            <span>•</span>
            <li><a href="" class="hover:text-[#40AD8E]">BOOKS</a></li>
            <span>•</span>
            <li><a href="/#about" class="hover:text-[#40AD8E]">ABOUT</a></li>
            <span>•</span>
            <li><a href="/" class="hover:text-[#40AD8E]">CONTACT</a></li>
          </ul>
        </nav>
</nav>