
<nav class="text-white h-[15rem] bg-black">
    <header class="flex justify-center align-top mt-[100]">
        <!-- Title -->
        <img src="/public/assets/kjlogo.png">
        <!-- Navigation Links -->
        </header>
        <nav>
          <ul class="flex justify-center space-x-4 text-white">
            <li><a href="#books" class="hover:text-cyan-600">Books</a></li>
            <span></span>
            <li><a href="#about" class="hover:text-cyan-600">About</a></li>
            <span></span>
            <li><a href="#" class="hover:text-cyan-600">Contact</a></li>
          </ul>
        </nav>
      
</nav>