<div class="text-white h-[26rem] bg-[#0f0e0d]">
<div class="flex justify-center space-x-4 font-bold pt-[100px] text-white space-x-4 mb-5">
    <script async src="https://eomail6.com/form/37eb35d2-8f5e-11ef-a9da-d94ca2dbea14.js" data-form="37eb35d2-8f5e-11ef-a9da-d94ca2dbea14"></script>
</div>
</div>